<ion-header>
  <ion-toolbar>
    <ion-title>
        Tafels toetsen
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>Kies tafel</ion-label>
        <ion-select value="1" okText="Toets tafel" cancelText="Ga terug" ionBlur="selectTafel()" [(ngModel)]="selectieModel">>
            <ion-select-option value="1">Tafel van 1</ion-select-option>
            <ion-select-option value="2">Tafel van 2</ion-select-option>
            <ion-select-option value="3">Tafel van 3</ion-select-option>
            <ion-select-option value="4">Tafel van 4</ion-select-option>
            <ion-select-option value="5">Tafel van 5</ion-select-option>
            <ion-select-option value="6">Tafel van 6</ion-select-option>
            <ion-select-option value="7">Tafel van 7</ion-select-option>
            <ion-select-option value="8">Tafel van 8</ion-select-option>
            <ion-select-option value="9">Tafel van 9</ion-select-option>
            <ion-select-option value="10">Tafel van 10</ion-select-option>
            <ion-select-option value="11">Tafel van 11</ion-select-option>
            <ion-select-option value="12">Tafel van 12</ion-select-option>
            <ion-select-option value="13">Tafel van 13</ion-select-option>
            <ion-select-option value="14">Tafel van 14</ion-select-option>
            <ion-select-option value="15">Tafel van 15</ion-select-option>
            <ion-select-option value="16">Tafel van 16</ion-select-option>
            <ion-select-option value="17">Tafel van 17</ion-select-option>
            <ion-select-option value="18">Tafel van 18</ion-select-option>
            <ion-select-option value="19">Tafel van 19</ion-select-option>
            <ion-select-option value="20">Tafel van 20</ion-select-option>
        </ion-select>
    </ion-item>
</ion-content>
