<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Screenshot 2019-03-24 at 23.40.42.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Hey rekenwonder!</ion-card-subtitle>
        <ion-card-title>Welkom bij de Rekentuinen!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>In deze applicatie kan jij de tafels 1 tot en met 20 oefenen! Als je de tafels 1 tot 10 perfect heb getoetst krijg jij een verassing!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Opties</ion-label>
      </ion-list-header>
      <ion-button expand="block" data-href="tabs/tab2">Tafels 1 tot 10 oefenen</ion-button>
      <ion-button expand="block" data-href="tabs/tab3">Tafels toetsen</ion-button>
    </ion-list>
</ion-content>
